<div class="container">
  <div class="navbar">
    <div class="logo-box"></div>
    <a class="nav-link" routerLink="/projects">projects</a>
    <a class="nav-link active" routerLink="/resources">resources</a>
  </div>

  <div class="content">
    <h1 class="title">all resources</h1>
    <div *ngIf="errorMessage" class="resources-error">{{ errorMessage }}</div>
    <div class="table" *ngIf="!loading && !errorMessage">
      <div class="table-header">
        <div class="col name">resource</div>
        <div class="col domain">interest</div>
      </div>
      <ng-container *ngFor="let interest of (resourcesByInterest | keyvalue)">
        <ng-container *ngFor="let res of interest.value">
          <div class="table-row">
            <div class="col name">
              <a class="resource-link" [href]="res.resource" target="_blank" rel="noopener">{{ res.resource }}</a>
            </div>
            <div class="col domain">{{ interest.key | titlecase }}</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
