<div class="projects-layout">
  <aside class="sidebar">
    <div class="logo">Your Logo</div>
    <nav>
      <a routerLink="/resources">Resources</a>
      <a routerLink="/projects" class="active">Projects</a>
      <a routerLink="/add-project">Add New Project</a>
    </nav>
  </aside>
  <main class="projects-main">
    <h1 class="projects-header">Projects</h1>
    <div *ngIf="loading" class="projects-loading">Loading...</div>
    <div *ngIf="errorMessage" class="projects-error">{{ errorMessage }}</div>
    <div *ngIf="!loading && !errorMessage">
      <table class="projects-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Current Step</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proj of getAllProjects()" (click)="goToConfirm(proj)" class="project-row">
            <td>{{ proj.project_name }}</td>
            <td>{{ proj.project_domain }}</td>
            <td>
              <ng-container *ngIf="proj.steps && proj.steps.length > 0; else noSteps">
                <ng-container *ngIf="getCurrentStep(proj) as step; else allDone">
                  {{ step.name }}
                </ng-container>
              </ng-container>
              <ng-template #noSteps>No Steps</ng-template>
              <ng-template #allDone>All Steps Completed</ng-template>
            </td>
            <td>
              <span class="badge" [ngClass]="getProgressClass(proj)">{{ getProgressText(proj) }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div> 