<div class="container">
  <h1 class="title">what are your <span class="highlight">interests?</span></h1>

  <div class="interests-wrapper">
    <div class="interests-column">
      <label *ngFor="let interest of leftColumn" class="interest-label">
        <input type="checkbox" [value]="interest.value" (change)="onCheckboxChange($event)" />
        {{ interest.label }}
      </label>
    </div>

    <div class="interests-column">
      <label *ngFor="let interest of rightColumn" class="interest-label">
        <input type="checkbox" [value]="interest.value" (change)="onCheckboxChange($event)" />
        {{ interest.label }}
      </label>
    </div>
  </div>

  <div class="footer">
    <p class="warning" *ngIf="selectedInterests.length < 2">
      please select atleast 2 interests
    </p>
    <button [disabled]="selectedInterests.length < 2" (click)="submitInterests()">
      continue
    </button>
  </div>
</div>



